body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

.search-container {
  padding: 20px;
  min-height: 539px;
  bottom: 0;
  gap: 10px;
  background-color: #121212;

}
.buttons{
  flex:row;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  width: 250px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #222;
  color: #e0e0e0;
}

.search-button {
  padding: 8px;
  background-color: #1a73e8;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.search-button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 100px; /* Increased gap between grid items */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px; /* Added more padding inside each grid item */
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.book-cover {
  width: 100%;
  height: auto;
  max-width: 180px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.book-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #e0e0e0;
}

.book-author {
  font-style: italic;
  color: #b0b0b0;
}

.spinner-container {
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fade-in effect when the image loads */
.book-cover.loaded {
  opacity: 1;
}

/* Additional hover effect on the image */
.grid-item:hover .book-cover {
  transform: scale(1.00000000001); /* Slight zoom on hover */
}
